@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

.main {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  background-color: skyblue;
  justify-content: center;
}

.header-1 {
  color: grey;
}